#header {
	height: 100px;
	margin: 0 auto;
	text-align: initial;
	background-color: green;
}

#ml {
	font-size: 36px;
	padding: 20px 20px 10px 10px;
	display: inline-block;
	text-decoration: none;
}

#email-display {
	float: right;
	padding: 20px;
}

#register-success {
	font-size: 32px;
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);	
}

nav {
	margin-left: 10px;
}

nav > a {
	margin: 0 5px;
}